{
  "openapi": "3.0.1",
  "info": {
    "title": "Surfer API",
    "description": "API for web scraping and parsing in the Surfer application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.surfsup.ai",
      "description": "Cloud server"
    },
    {
      "url": "http://localhost:42069",
      "description": "Local server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Check if server is up",
        "responses": {
          "200": {
            "description": "Server is up",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Healthcheck",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/convertToMarkdown": {
      "post": {
        "summary": "Convert URL to Markdown",
        "description": "Converts a webpage to Markdown format.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL of the webpage to convert"
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertToMarkdownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/parseStructuredOutput": {
      "post": {
        "summary": "Parse structured output from URL",
        "description": "Extracts structured data from a webpage based on a provided schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL of the webpage to parse"
                  },
                  "parsingOutput": {
                    "type": "object",
                    "description": "The schema defining the structure of the data to extract"
                  }
                },
                "required": ["url", "parsingOutput"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsing successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseStructuredOutputResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConvertToMarkdownResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "markdown": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "ParseStructuredOutputResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "structuredOutput": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "markdown": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}